.images {
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.images{
    display: flex;
    flex-flow: column;
    align-items: center;
}

  
#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  #new-post-form {
    background-color: whitesmoke;
    margin-top: 20vh;
    width: 600px;
    margin: 20vh auto 0;
  }
  
  