.header{
    background: whitesmoke;
    font-family: 'Raleway Dots', cursive;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

#navbar{
    background-color: whitesmoke;
}

#navbar ul{
    padding:0;
    list-style: none ;
}

#navbar li{
    display: inline;

}
.images {
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.images{
    display: flex;
    flex-flow: column;
    align-items: center;
}

  
#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  #new-post-form {
    background-color: whitesmoke;
    margin-top: 20vh;
    width: 600px;
    margin: 20vh auto 0;
  }
  
 .container-posts{
     display: flex;
 }
  .all-posts {
    background-color: grey;
    display: flex;
  }

  .item {
  width: 100%;
  padding: 35px;
  margin-top: 10px;
  background-color: honeydew;
}





  